.stand {
  $root: &;

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 16px;
  font-family: Montserrat, Arial, sans-serif;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    max-width: 70vw;
    height: 40vh;
  }

  &__container {
    border: 1px solid #6fcf97;
    box-shadow: 0 0 32px #6fcf97;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    padding: 50px;
  }

  &__lamp {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    border-radius: 3vw;
    position: relative;
    background: radial-gradient(circle at center, red 0, white 100%);

    @mixin lamp-auxiliary {
      content: '';
      width: calc(100% + 1px);
      height: calc(100% + 1px);
      border-radius: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &::before {
      @include lamp-auxiliary;

      background-color: white;
      opacity: 1;
      transition: opacity 300ms;
    }

    &::after {
      @include lamp-auxiliary;

      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border: 3px solid rgba(31 32 65 / 25%);
      background: transparent;
    }

    &_enabled {
      &::before {
        opacity: 0;
      }
    }

    &-container {
      display: flex;
      align-items: center;
      color: rgba(31 32 65 / 50%);
      font-weight: bold;
    }
  }

  &__form {
    padding: 10px;
    display: grid;
  }

  &__label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    margin: 10px;
  }

  &__input {
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-family: Montserrat, Arial, sans-serif;

    &:focus {
      outline: 0;
      box-shadow: 0 0 10px black;
    }
  }

  &__button {
    font-size: 20px;
    font-family: Montserrat, Arial, sans-serif;
    border: 1px solid gray;
    border-radius: 5px;

    &:focus {
      outline: 0;
      box-shadow: 0 0 10px black;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &:nth-child(2) {
    #{$root}__wrapper {
      max-width: 60vw;
      height: 60vh;
    }
  }

  &:nth-child(3) {
    #{$root}__wrapper {
      max-width: 65vw;
      height: 70vh;
    }
  }

  &:nth-child(4) {
    #{$root}__wrapper {
      max-width: 55vw;
      height: 80vh;
    }
  }
}
