include ./Stand/Stand

doctype html
html(lang="ru")
  head
    title= 'toxin-slider demo'
    meta(charset="utf-8")
    meta(name="description" content="4 этап обучения Metalamp")
    meta(name="Keywords" content="typescript, SCSS, PUG, webpack, rollup")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    h1 toxin-slider demo
    .stands
      +stand({
        start: -4,
        step: 2,
        end: 14,
        from: 1,
        to: 10,
        hasTwoValues: true,
        units: ' коп.',
        scaleHidden: true,
        name: 'slider-1',
        thumbsAreRestricted: true,
      })
      +stand({
        start: -40,
        step: 5,
        end: 50,
        from: 20,
        to: 10,
        isVertical: true,
        units: ' °C',
        tooltipHidden: true,
        name: 'thermometer',
        thumbsAreRestricted: true,
      })
      +stand({
        start: 19,
        step: 3.25,
        end: 0,
        from: 1,
        to: 10,
        hasTwoValues: true,
        units: '',
        name: 'slider-2',
        thumbsAreRestricted: true,
      })
      +stand({
        start: 80,
        step: 1,
        end: 105,
        from: 81,
        to: 102,
        hasTwoValues: true,
        units: '',
        name: 'slider-3',
        isVertical: true,
        thumbsAreRestricted: true,
      })
