.toxin-slider {
  display: flex;
  align-items: center;
  color: red;
  height: min-content;
  text-transform: uppercase;

  &::after {
    border-radius: 30px;
    margin: 5px;
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background-color: rgb(32 128 32);
  }

  &::before {
    border-radius: 30px;
    margin: 5px;
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background-color: rgb(32 32 128);
  }
}
