@use 'sass:math';

.toxin-slider {
  $root: &;
  $thumb-thickness: 16px;
  $thumb-length: 16px;
  $half-thumb-length: math.div($thumb-length, 2);
  $thumb-color: #6fcf97;
  $bar-thickness: 50%;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  overflow-x: clip;
  overflow-y: visible;
  z-index: 0;

  &__inner-wrapper {
    position: relative;
    width: calc(100% - $thumb-length);
    height: $thumb-thickness;
  }

  &__thumb {
    position: absolute;
    width: 100%;
    height: inherit;
    pointer-events: none;
    outline: 0;

    &::before {
      content: '';
      position: absolute;
      width: $thumb-length;
      height: inherit;
      box-sizing: border-box;
      border: 2px solid white;
      border-radius: $thumb-length;
      background-color: $thumb-color;
      pointer-events: auto;
      touch-action: none;
      cursor: pointer;
      z-index: 1;
    }

    &_draggable {
      z-index: 2;
    }

    &:focus {
      &::before {
        border: 0;
        background: white;
        box-shadow: 0 0 $half-thumb-length inset $thumb-color;
      }
    }

    &-tooltip {
      position: absolute;
      left: $half-thumb-length;
      transform: translateX(-50%);
      bottom: 125%;

      &_hidden {
        visibility: hidden;
      }

      &::selection {
        background: transparent;
      }
    }

    &_hidden {
      visibility: hidden;
    }
  }

  &__progress-bar {
    position: absolute;
    top: 50%;
    left: $half-thumb-length;
    transform: translateY(-50%);
    width: 100%;
    height: $bar-thickness;
    max-height: $thumb-thickness;
    background: #0074d9;
    z-index: 0;

    &_hidden {
      visibility: hidden;
    }
  }

  &_direction_vertical {
    flex-direction: row;
    width: min-content;
    height: 100%;
    overflow-x: visible;
    overflow-y: clip;

    #{$root}__inner-wrapper {
      width: $thumb-thickness;
      height: calc(100% - $thumb-length);
    }

    #{$root}__thumb {
      width: inherit;
      height: 100%;

      &::before {
        width: inherit;
        height: $thumb-length;
      }

      &-tooltip {
        top: $half-thumb-length;
        transform: translateY(-50%);
        left: 125%;
        bottom: auto;
      }
    }

    #{$root}__progress-bar {
      top: $half-thumb-length;
      left: 50%;
      transform: translateX(-50%);
      width: $bar-thickness;
      max-width: $thumb-thickness;
      height: 100%;
      max-height: none;
    }
  }
}
