.toxin-slider {
  $thumb-thickness: 24px;
  $thumb-length: 24px;

  display: flex;
  flex-direction: column;
  width: 100%;

  &__inner-wrapper {
    width: calc(100% - $thumb-length);
    height: $thumb-thickness;
    position: relative;
  }

  &__thumb {
    width: $thumb-length;
    height: $thumb-thickness;
    position: absolute;
    box-sizing: border-box;
    border-radius: $thumb-length;
    border: 5px solid crimson;
  }
}
